.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.app__root {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__btn {
  margin-top: 30px;
  height: 20px;
  width: fit-content;
}

.app__input {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app__result {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__result_data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 200px;
}